.ipynb_checkpoints/Assignment 02-checkpoint.ipynb
.ipynb_checkpoints/PracticeNotebook-checkpoint.ipynb
pytorchFirstSteps/data/
pytorchFirstSteps/.ipynb_checkpoints/PyTorchFirstSteps-checkpoint.ipynb


